<h1><%= @profile.first_name -%> <%= @profile.last_name %></h1>

<p><%= @profile.description -%></p>

<% if @profile.user == current_user -%>
  <% if @profile.photo.nil? -%>
    <p>You don't have a photo set!  <%= link_to 'Add one', new_photo_path({:imageable_type => :profile, :imageable_id => @profile}) %></p>

  <% else -%>
    <%= streamed_image_tag(@photo) -%>
  <% end -%>
<% end -%>
