<h1>
  <%= @profile.user.full_name %>
</h1>

<p>
  <h2>Description:</h2>
  <% if  @profile.description.nil? || @profile.description.empty?%>
    <p>User hasn't provided any additional information to share.</p>
  <% else %>
    <p><%= @profile.description -%></p>
  <% end %>
</p>

<h2>User-Provided Image</h2>

<% if !@profile.image.nil? %>
  <%= streamed_image_tag(@image) -%>
<% end %>

<% if @profile.user == current_user -%>
  <% if @profile.image.nil? -%>
    <p>You don't have a photo set!  <%= link_to 'Add one', new_image_path({:imageable_type => :profile, :imageable_id => @profile}) %></p>
  <% end -%>

  <p><%= link_to 'Edit your profile?', edit_user_profile_path -%></p>
<% end -%>
