<h1>
  <%= @profile.user.full_name %>
</h1>

<p>
  <h2>Description:</h2>
  <% if  @profile.description.nil? || @profile.description.empty?%>
    <p>User hasn't provided any additional information to share.</p>
  <% else %>
    <p><%= @profile.description -%></p>
  <% end %>
</p>

<h2>User-Provided Image</h2>

<% if !@profile.image.nil? %>
  <%= streamed_image_tag(@image) -%>
<% end %>

<% if @profile.user == current_user -%>
  <% if @profile.image.nil? -%>
    <p>You don't have a photo set!  <%= link_to 'Add one', new_image_path({:imageable_type => :profile, :imageable_id => @profile}) %>.</p>
  <% end -%>



  <% if !@cloned_content_items.empty? -%>
    <h2>Cloned Documents</h2>

    <p>You have <%= @cloned_content_items.size -%> cloned content items.</p>

    <ul>
      <% @cloned_content_items.each do |cci| -%>
	<li>
	  <%= link_to cci.title, content_item_path(cci) -%> 
	  (<%= link_to "Show Clone Properties", content_item_clone_path(cci.parent, cci) -%>,
	<%= link_to 'Delete clone', content_item_path(cci),
	    :confirm => "Are you sure?",
            :method => :delete -%>)
	</li>
      <% end -%>
      
    </ul>
  <% end -%>


  <h2>User Role</h2>

  <p>You are registered as a <%= @user.role.name -%> in <%= SystemSetting.get("site_name") -%>.</p>

  <h2>Edit Profile</h2>
  <p>
    Would you like to <%= link_to 'edit your profile', edit_user_profile_path -%>?
    <% if !@image.nil? -%>
      You may also 
      <%= link_to 'edit your image', edit_image_path(@image) -%>.
    <% end -%>
  </p>
<% end -%>
