<h1>Menu Items</h1>

<p>There are currently <%= @menu_items.size -%> items available in the system menu.  Would you like to <%= link_to 'Add one', new_menu_item_path -%>?  

  <% if !@menu_items.empty? -%>
    Current menu items are listed below:</p>

<div>
  <ul>
    <% @menu_items.each do |m| -%>
      <li id="item_<%= m.id -%>"><%= m.name -%> 
	(<%= link_to 'show', 
	    menu_item_path(m) -%>, 
	<%= link_to 'edit', edit_menu_item_path(m) -%>,
	<%= link_to 'delete', menu_item_path(m),
	    :confirm => "Are you sure?",
            :method => :delete -%>, 
	<%= link_to 'manage child page order', 
	    menu_item_manage_system_pages_path(m) -%>,
	<%= get_movement_links( m ) -%>)
      </li>
    <% end -%>
  </ul>
</div>

<% end -%>
