<h1>Welcome to TeiRails</h1>

<p>Welcome to TeiRails.  Link to introduction to system.</p>

<p><%= link_to 'List content items', contents_path %></p>

<% if logged_in? -%>
  <p><%= link_to 'Create some contents?', new_content_path -%></p>
  <% if !current_user.profile.nil? %>
  <p><%= link_to 'Show', user_profile_path(current_user) %> or
         <%= link_to 'edit', edit_user_profile(current_user) %>
         your user profile.</p>
  <% else %>
      <p>We see that you don't have a user profile.  <%= link_to 'Create one?', new_user_profile_path(current_user) %>
  <% end %>
<% end -%>
