<%= f.label(:tei_data, "Select file") -%>
<%= f.file_field :tei_data  %><br />

<% if !@content_item.private_clone? -%>
  <%= f.label(:published) -%>
  <%= f.check_box(:published) -%><br />

  <% if !@content_item.system? -%>
    <%= f.label(:protected) -%>
    <%= f.check_box(:protected) -%><br />
  <% end -%>

  <% if current_user.can_act_as?("administrator") -%>
    <% if @content_item.groups.empty? -%>
      <%= label(:system, "System") -%>
      <%= f.check_box( :system) -%><br />
    <% else -%>
      <p>The "system" status of this object cannot be modified until it is removed from any groups
      that it belongs to.
      </p>
      <br />
    <% end -%>
  <% end -%>

  <% if current_user.can_act_as?("editor") -%>
    <% if !@content_item.system? -%>
      <%= label(:hide_in_catalog, "Hide in catalog") -%>
      <%= f.check_box( :hide_in_catalog) -%><br />
    <% end -%>
  <% end -%>
<% end -%>
