<h1><%= @title -%></h1>

<p>There are <%= @content_items.size -%> content items matching your search criteria.</p>

<% if !@content_items.empty? -%>
<ol>
<% @content_items.each do |c| -%>
  <li>

    <%= link_to get_title(c), content_item_path(c) -%> 
    (<%= link_to "XML", formatted_content_item_path(c, 'xml') -%>) by 
    <%= get_authors(c) -%>

    <%= get_valid_item_links(c) -%>

  </li>
<% end -%>
</ol>
<% end -%>
