<h1>Menu Items</h1>

<p>There are currently <%= @menu_items.size -%> items available in the system menu.  Would you like to <%= link_to 'Add one', new_menu_item_path -%>?  

  <% if !@menu_items.empty? -%>
    Current menu items are listed below:</p>

<div>
  <ul>
    <% @menu_items.each do |m| -%>
      <li id="item_<%= m.id -%>"><%= m.name -%> 
	(<%= get_index_item_options(m) -%>)
      </li>
    <% end -%>
  </ul>
</div>

<% end -%>
