<h1>Groups</h1>

<p>There are currently <%= @content_item_groups.size -%> items
available in the system menu.</p>

<p>Would you like to <%= link_to 'Add one',
new_content_item_group_path -%>?</p>

  <% if !@content_item_groups.empty? -%>
    Current groups matching your search criteria are listed below:</p>

<div>
  <ul>
    <% @content_item_groups.each do |cig| -%>
      <li id="item_<%= cig.id -%>"><%= cig.name -%> 
	(<%= get_index_item_options(cig) -%>)
      </li>
    <% end -%>
  </ul>
</div>

<% end -%>
