<h1>Groups</h1>

<p>There are currently <%= @content_item_groups.size -%> groups matching
your search criteria.</p>


<% if !@content_item_groups.empty? -%>
  Current groups matching your search criteria are listed below:</p>

<div>
  <ul>
    <% @content_item_groups.each do |cig| -%>
      <li id="item_<%= cig.id -%>"><%= link_to cig.name, content_item_group_path(cig) -%> 
	(<%= get_index_item_options(cig) -%>)
      </li>
    <% end -%>
  </ul>
</div>

<% end -%>

<p>Would you like to <%= link_to 'add a group',
new_content_item_group_path -%>?</p>
