<h1>Content Item Group "<%= @content_item_group.name -%>"</h1>

<p>
<% if @content_item_group.content_items.empty? -%>
  This content item group is empty.
<% else -%>
  This content item group contains <%= @content_item_group.content_items.size -%> items.
<% end -%>
</p>

<% if logged_in? && @content_item_group.writable_by?(current_user) -%>

  <h2>Content Item Group Options</h2>

  <ul>
    <li>
      <%= link_to('Manage child pages of this content item group',
		  content_item_group_links_path(@content_item_group)) %>
    </li>
  
    <li>
      <%= link_to('Edit this content item group',
		  edit_content_item_group_path) -%>
    </li>

    <li>
      <%= link_to('Delete this content item group', content_item_group_path,
                    :confirm => "Are you sure?", :method => :delete)
                    -%> this content item group
    </li>
  </ul>
<% end -%>

<p>Return to <%= link_to 'content item group index', content_item_groups_path -%>.</p>
