<h1>Change your password</h1>

<% form_tag password_path, :method => :put do %>

  <%= label_tag "Password", :password  -%>
  <%= password_field_tag :password %><br />

  <%= label_tag "Confirm Password", :password_confirmation -%>

  <%= password_field_tag :password_confirmation %><br />

  <%= hidden_field_tag :id, params[:id] -%>

  <p>
    <%= submit_tag "Reset Your Password" %>
  </p>

  
  <br />
<% end %>

