<h1>Audio Files</h1>

<p>These audio files are attached to a <%=h @associated_object.class.to_phrase %>.</p>

<% if @audio_files != nil && @audio_files.size > 0 %>
<ul>
<% @audio_files.each do |af| %>

<li><%=h af.title %>, <%=h af.description %>  &nbsp;&nbsp;
<%= list_item_options(af) %>

</li>

<% end %>

</ul>

<% else %>

<p>No audio files matched query.</p>

<% end %>

<%= audio_file_list_options_for_editors(@associated_object) %>

<p>
  <%= link_to "Back to #{@associated_object.class.to_phrase}", :controller => @associated_object.class.table_name, :action => :show, :id => @associated_object.id %>
</p>
