<h1>Manage Group Pages</h1>

<p>There are <%= @content_items.size -%> system pages available for
menu item "<%= link_to @content_item_group.name,
content_item_group_path(@content_item_group) -%>".</p>

<% if !@content_items.empty? -%>
  <ul>
    <% @content_items.each do |sp| -%>
      <li><%= sp.content_item.title -%> 
	<% if !get_movement_links( sp ).empty? -%>
	  (<%= get_movement_links( sp ) -%>)
	<% end -%>
      </li>
    <% end -%>
  </ul>
<% end -%>

<p>Would you like to <%= link_to 'view system content items to add to this page', system_content_items_path -%>?</p>
