<h1>Manage Group Pages</h1>

<p>There are <%= @content_item_group_links.size -%> pages linked to
content item group "<%= link_to @content_item_group.name,
content_item_group_path(@content_item_group) -%>".</p>

<% if !@content_item_group_links.empty? -%>
  <ul>
    <% @content_item_group_links.each do |cigl| -%>
      <li><%= cigl.content_item.title -%> 
	<% if !get_movement_links( cigl ).empty? -%>
	  (<%= get_movement_links( cigl ) -%>)
	<% end -%>
      </li>
    <% end -%>
  </ul>
<% end -%>

<p>
  Would you like to 
  <%= link_to 'view content items that may be associated with this group', content_item_group_links_path(@content_item_group) -%>?
</p>
