<div id="submenu">
<ul class="submenu">
  <li><%= link_to 'Welcome', "/" %></li>
  <li><%= link_to 'Mission', mission_about_path %></li>
  <li><%= link_to 'Supporters', supporters_about_path %></li>
  <li><%= link_to 'Contributors', contributors_about_path %></li>
  <li><%= link_to 'Statistics', statistics_about_path %></li>
  <li><%= link_to 'Awards', awards_about_path %></li>
</ul>
</div>
