<h1><%= @image.title || "Untitled Image" -%></h1>

<p>
  <%= @image.description -%>
</p>

<p>
  <%= streamed_image_tag(@image) -%>
</p>

<p>
<%= link_to '[small]', image_path(@image, { :size => "small" } ) -%>

<%= link_to '[medium]', image_path(@image, { :size => "medium" } ) -%>

<%= link_to '[large]', image_path(@image, { :size => "large" } ) -%>
</p>


<% if logged_in? %>
  <p>
    <%= get_management_links(@image) -%>
  </p>

  <% if @image.writable_by?(current_user) -%>

    <p>
      This image is associated with 
      <%= get_associated_object_show_link(@image) -%>.
    </p>

    <p>
      The currently displayed resolution is streamed from the
      path <%= link_to stream_image_url(@image), stream_image_path(@image) -%>.
    </p>

  <% end -%>

<% end -%>

<p>
  Go <%= link_to 'back to image index', images_url(:imageable_type => @image.imageable_type, :imageable_id => @image.imageable_id) -%>.
</p>
