<div id="header_options">
  <ul>
    <% if logged_in? -%>
      
      <li><%= link_to "My Profile", user_profile_path(current_user) -%></li>

      <% if current_user.can_act_as?("administrator") -%>
	<li>
	  <%= link_to 'Administrative Options', administrative_options_path -%>
	</li>
      <% end -%>

      <li class="last"><%= link_to 'Logout', logout_path -%></li>
    <% else -%>
      <li><%= link_to "Join #{SystemSetting.get('site_name')}", 
	      new_user_path -%></li>
      <li class="last"><%= link_to 'Login', login_path -%></li>
    <% end -%>
  </ul>
</div>
