<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>TeiRails</title>

  <%= stylesheet_link_tag 'teirails' %>
</head>

<body>

<div id="header">
  <%= render_partial "layouts/main_logo" %>
  
  <%= render_partial "layouts/header_options" -%>
</div>

  <%= render_partial "layouts/main_menu" %>


  <div id="mainContent">

    <% if flash[:error] -%>
      <div id="errorBox">
        <p>
          <%= flash[:error] -%>
        </p>
      </div>
    <% end -%>

    <% if flash[:notice] -%>
      <div id="noticeBox">
        <p>
          <%= flash[:notice] -%>
        </p>
      </div>
    <% end -%>

    <%= yield -%>


    <%= render_partial "layouts/footer" %>

    <%= render_partial "layouts/body_end" %>
