<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>TeiRails</title>

  <%= stylesheet_link_tag 'teirails' %>
</head>

<body>

  <%= render_partial "layouts/header_components" -%>

  <%= render_partial "layouts/main_menu" %>

  <div id="mainContent">

  <%= render_partial "layouts/sub_menu" -%>

  <%= render_partial "layouts/flashes" -%>


  <%= yield -%>

  
  <%= render_partial "layouts/footer" %>

  <%= render_partial "layouts/body_end" %>
