<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>TeiRails</title>

  <%= stylesheet_link_tag 'teirails' %>
  <%= stylesheet_link_tag 'niftyCorners' %>

  <%= javascript_include_tag 'niftycube' %>

  <script type="text/javascript">
    window.onload=function(){
        Nifty("ul#headernav a","big transparent top");
    }
  </script>
</head>

<body>

  <div id="mainlogo">
   <a href="/">
  <img src="/images/Litgloss_banner.png" height="73" width="160"
   alt="Litgloss banner image" />
  </a>
  </div>

  <div id="main-navigation">
       <%= render_partial "layouts/main_menu" %>
  </div>

<div id="mainContent">

    <% if flash[:error] -%>
      <div id="errorBox">
        <p>
          <%= flash[:error] -%>
        </p>
      </div>
    <% end -%>

    <% if flash[:notice] -%>
      <div id="noticeBox">
        <p>
          <%= flash[:notice] -%>
        </p>
      </div>
    <% end -%>

    <%= yield -%>

    <hr />

    <div id="footerText">
      <p>
        <% if logged_in? -%>
          You are logged in as user "<%= current_user.login -%>."
          <%= link_to 'Log out?', logout_path -%><br />
        <% else -%>
          You aren't logged in.  <%= link_to 'Create an account', new_user_path -%>, or <%= link_to 'log in', login_path -%>?
        <% end -%>
      </p>

<p>
(<a href='http://git.hcoop.net/?p=leitgebj/tei-rails.git;a=summary'>Source
    code repository</a>|<a href="http://validator.w3.org">Validate XHTML</a>)
    </p>

    </div>

  </div>

</body>
</html>
